[submodule "rack"]
	path = rack
	url = git://github.com/chneukirchen/rack.git
[submodule "libs"]
	path = libs
	url = https://github.com/mattbanks/jQuery.equalHeights
[submodule "src/vendor/symfony"]
	path = src/vendor/symfony
	url = git://github.com/fabpot/symfony.git
[submodule "src/vendor/buzz"]
	path = src/vendor/buzz
	url = git://github.com/kriswallsmith/Buzz.git
